CHROME  = "C:/Program Files/Google/Chrome/Application/chrome.exe"
VLC     = "C:/Program Files/VideoLAN/VLC/vlc.exe"
ADBLOCK = "C:/Users/liam/AppData/Local/Google/Chrome/User Data/Default/Extensions/cjpalhdlnbpafiamejdnhcphjbkeiagm"